//
   Created by Kate on 08.01.2017.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='./bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='./bootstrap/css/bootstrap-theme.css')
    body
        block content